
  .bg-About{
    background-image: url("../src/assets/about/slide-3.jpg");
    
  }
  .bg-service{
    background-image: url("../src/assets/about/about-banner.jpg");

  }
  .bg-About-banner{
    background-image: url("../src/assets/about/contact-banner.jpg");

  }

 